<h2 mat-dialog-title>{{"Te encuentras editando el producto: " + sku}}</h2>
<mat-dialog-content>
    <div class="loading-shade" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <form [formGroup]="editProductFormGroup" class="edit-formGroup">
        <div class="row-1">

            <mat-form-field appearance="outline" style="width: 70%;">
                <mat-label>Título del producto</mat-label>
                <input matInput placeholder="Nombre" formControlName="title" required>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 30%;">
                <mat-label>SKU</mat-label>
                <input matInput placeholder="SKU" formControlName="sku" required>
            </mat-form-field>
        </div>
        
        <div class="row-2" style="display: flex; justify-content: space-between;">
            <mat-form-field appearance="outline">
                <mat-label>Precio Regular</mat-label>
                <input matInput placeholder="Precio" formControlName="price" required lang="en" step="0.01">
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <mat-label>Precio con descuento</mat-label>
                <input matInput type="number" placeholder="Precio con descuento" formControlName="discounted_price" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Stock</mat-label>
                <input type="number" matInput placeholder="Stock" formControlName="stock" required min="0">
            </mat-form-field>

            <mat-checkbox color="primary" placeholder="Publicado" formControlName="published" required>¿En catálogo?</mat-checkbox>

        </div>

        <div class="row-3">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Descripción Larga</mat-label>
                <textarea matInput placeholder="Descripción" formControlName="description" type="text" rows="5"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Descripción Corta</mat-label>
                <textarea matInput placeholder="Descripción corta" formControlName="short_description" type="text"></textarea>
            </mat-form-field>
        </div>

        <div class="row-4" style="display: flex; justify-content: stretch;">
        </div>

        <div class="row-5">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>URL de la imagen</mat-label>
                <textarea matInput type="text" placeholder="Imagen" formControlName="image_url" required rows="3"></textarea>
                <mat-hint align="start"><strong style="font-size: x-small;">Para múltiples imágenes separar URLS con comas, la primera imagen es la principal</strong></mat-hint>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="editProduct()">Guardar</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
</mat-dialog-actions>