.in-stock-true{
    color: green;
}

.in-stock-false{
    color: red;
}

.products-page{
    max-height: 100vh;
}

.loading-shade{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productsAllTable{
    overflow: auto;
    max-height: 60vh;
}

.mat-column-number,
.mat-column-price{
    max-width: 64px;
}

.mat-column-actions,
.mat-column-number,
.mat-column-price,
.mat-column-discounted_price,
.mat-column-stock,
.mat-column-sku,
.mat-column-title{
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
}

.mat-column-sku{
    max-width: 128px;
}

.filter-input{
    width: 50%;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.actions button{
    margin: 10px 20px;
}