.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.registerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 400px;
    padding: 3%;
}

@media screen and (max-width: 768px){
    .loginContainer{
        
    }
}


.form-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.errors{
    max-width: 300px;
    margin-bottom: 5px;
}

.loginButton{
   width: 100%;
   margin-bottom: 5%;
}

.registerButton{
    width: 100%;
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footerContainer{
    width: 250px;
}